*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
/* header section start here */
.header-container{
    display: flex;
    height: 100vh;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-between;
    margin-bottom: 180px;
    
    
}
.header-content{
   padding: 150px 0px 0px 150px;
  height: ;
}
.header-title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 680px;
}
.header-desc{
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.btn-primary{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF; 
    font-size: 20px; 
    font-weight: 700;
    border: none;
    
}


.img{
    width: 550px;
    height: 652px;
    padding-top: 80px;
    padding-right: 150px;
    
}

/* header section end here */

/* feature section start here */
.feature-container{
    margin-bottom: 130px;
}
.feature-content{
  text-align: center;
  
}
.primary-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
}
.feature-des{
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: auto;
}
.feature-img{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}
.feature-image{
    width: 250px;
    height: 350px;
}
.img-container{
    width: 350px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    text-align: center;
    padding-top: 70px;
    
}
.img-con{
    width: 350px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15); 
    text-align: center;
    padding-top: 70px;
}
.img-conta{
    background: rgba(5, 151, 160, 0.15);
    width: 350px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
    text-align: center;
    padding-top: 70px;
}

.img-des{
    color: #272727;
    font-size: 24px; 
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding-top: 10px;
} 
/* feature section end here */

/* hot deal start here */
.hot-section{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    height: 520px;
    margin-bottom: 120px;
}

.hot-container{
    display: flex;
    text-align: center;
}
.hot-containt{
    padding-top: 180px;
    padding-left: 300px;
}
.hot-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;  
}
.hot-des{
    width: 594px; 
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 10px;
}

.hot-pc{
    width: 318px;
height: 420px;
padding-top: 50px;
padding-left: 120px;
padding-bottom: 20px;
}

/* hot section end here */
 
/* instagram section start here */
.instagram{
    margin-bottom: 130px;
}
.inst-title{
    color: #272727; 
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.inst-des{
     width: 594px;
    color: rgba(39, 39, 39, 0.60); 
    margin: auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 
    10px;
}
.img-contai{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.all-img{
    width: 290px;
    height: 360px;
}
/* instragram section end here */

/* get section start here */
.get-content{
    background-image: url("/flower-shop-assignment/Rectangle\ 9.png"); 
    width: 1240px;
    height: 400px;
    border-radius: 8px;
    margin: auto;
    text-align: center;
    background-repeat: no-repeat;
}
.get-section{
   margin-bottom: 50px;
}
.get-content{
    padding-top: 120px;
}
.get-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.get-des{
    color: rgba(39, 39, 39, 0.60); 
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
input{
    width: 700px;
    height: 65px; 
    line-height: 20px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    font-size: 17px;
    color: rgba(39, 39, 39, 0.60);
    margin-top: 50px;
   margin-right: 10px;
   
}
/* get section end here */

/* footer section start here */
.footer-content{
    background: #111010;
    height: 380px;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    padding-top: 150px;
}
.footer-title{
    font-size: 48px;
    font-weight: 800;
}
.span{
    color: #E55473;  
    font-size: 48px;
}
.footer-des{
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    width: 625px;
    margin: auto;
    padding-top: 20px;
}
.finish{
    color: rgba(255, 255, 255, 0.60);  
    font-size: 16px; 
    font-weight: 400;
    padding-top: 32px;
}
/* footer end here */